@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-size: 35px;
  color: black;
}

h2 {
  margin-top: 0;
  font-size: 30px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #363535;
  padding: 16px;
}

.footer .footer_logo {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-size: 19px;
  margin-bottom: 16px;
}

.footer .footer_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer_list .footer_listElem {
  margin: 8px 0;
}

.footer .footer_list .footer_listElem a {
  text-decoration: none;
  color: white;
}

.footer .footer_list .footer_listElem a i {
  margin-right: 8px;
}

.footer .footer_list :first-child {
  margin-top: 0;
}

.search_box {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
  box-shadow: 0 -4px 2px -1px #D2D1D2;
}

.search_box .search_icon {
  height: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #EAEAEA;
}

.search_box .search_text {
  height: 50px;
  width: 200px;
  font-size: 18px;
  padding-left: 25px;
  border: none;
  background-color: #EAEAEA;
}

#tutorial {
  padding: 20px;
}

#tutorial .tutorial_container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.tutorial_list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: auto;
  gap: 30px;
  counter-reset: steps;
}

.tutorial_list__content {
  background-color: #F7F7F6;
  padding: 25px 32px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 1px 8px -3px black;
  position: relative;
}

.tutorial_list__content .fa-solid {
  color: gray;
  margin-right: 20px;
}

.tutorial_list__content:hover {
  transform: scale(1.04);
  background-color: #F5EDFE;
  transition-duration: 0.25s;
}

.tutorial_list__content:hover .fa-solid {
  color: #9356DC;
}

.tutorial_list__content::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  width: 26px;
  height: 26px;
  left: -13px;
  bottom: 23px;
}

#reserve {
  text-align: center;
  background-color: #f7f7f6;
  padding: 16px;
}

#reserve .reserve_details {
  color: grey;
  font-size: 18px;
}

#reserve .reserve_btn {
  cursor: pointer;
  border-radius: 30px;
  padding: 18px 30px;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  background-color: black;
  border: none;
  box-shadow: 2px 1px 8px -3px black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition-duration: 0.25s;
  margin: 16px;
}

#reserve .reserve_btn:hover {
  background-color: white;
  box-shadow: 2px 1px 12px -3px black;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rot1 {
  100% {
    transform: skew(-10deg) translateX(50px) rotate(405deg);
  }
}

@keyframes rot2 {
  100% {
    transform: skew(-10deg) rotate(525deg);
  }
}

@keyframes rot3 {
  100% {
    transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
  }
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}

.loader .loader_logo {
  position: fixed;
  left: calc(50% - 125px);
  top: calc(50vh - 75px);
}

.loader .loader_logo div {
  width: 200px;
  height: 200px;
  position: absolute;
  border-top: 20px solid;
  border-radius: 50%;
}

.loader .loader_logo .first {
  transform: skew(-10deg) translateX(50px) rotate(45deg);
  animation: rot1 1.5s ease infinite;
  border-color: #9356DC;
}

.loader .loader_logo .second {
  transform: skew(-10deg) rotate(165deg);
  animation: rot2 1.5s ease infinite;
  border-color: #FF79DA;
}

.loader .loader_logo .third {
  transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(285deg);
  animation: rot3 1.5s ease infinite;
  border-color: #99E2D0;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(1);
    opacity: 1;
  }
}

#menu {
  background-color: #F7F7F6;
  padding: 20px;
}

#menu .menu_container {
  max-width: 1280px;
  margin: auto;
}

.restaurant_blocs {
  padding-bottom: 75px;
}

.restaurant_blocs .restaurant_links {
  text-decoration: none;
  color: black;
}

.restaurant_blocs .restaurant_links .restaurant_container {
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  margin-top: 30px;
  position: relative;
}

.restaurant_blocs .restaurant_links .restaurant_container:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition-duration: 0.25s;
}

.restaurant_blocs .restaurant_links .new_menus {
  position: relative;
}

.restaurant_blocs .restaurant_links .new_menus::before {
  content: "Nouveau";
  position: absolute;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #278870;
  display: grid;
  place-items: center;
  top: 20px;
  right: 20px;
}

.restaurant_blocs .restaurant_links .img_restaurant {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.restaurant_blocs .restaurant_links .restaurant_details {
  padding-left: 20px;
  position: relative;
}

.restaurant_blocs .restaurant_links .restaurant_details h3 {
  margin: 0;
  padding-top: 20px;
}

.restaurant_blocs .restaurant_links .restaurant_details p {
  margin: 0;
  padding-bottom: 20px;
}

.restaurant_blocs .restaurant_links .restaurant_details::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  right: 30px;
  top: 20%;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.restaurant_blocs .restaurant_links .restaurant_details::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 25px;
  right: 30px;
  top: 20%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.restaurant_blocs .restaurant_links .restaurant_details:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

#restaurant_page header {
  position: relative;
}

#restaurant_page header::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f177";
  top: 25%;
  font-size: 20px;
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.banner img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

.restaurant_menu {
  background-color: #F7F7F6;
  border-radius: 30px 30px 0 0;
  padding-top: 40px;
  margin: auto;
  margin-top: -30px;
  position: relative;
  max-width: 1280px;
}

.restaurant_menu h2 {
  position: relative;
  margin-top: 0;
  padding: 0;
  font-size: 30px;
  padding-left: 20px;
  font-family: "Shrikhand", sans-serif;
}

.restaurant_menu h2::before {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 free";
  font-weight: 400;
  content: "\f004";
  font-size: 25px;
  right: 30px;
  top: 20%;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.restaurant_menu h2::after {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 free";
  font-weight: 900;
  content: "\f004";
  font-size: 25px;
  right: 30px;
  top: 20%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.restaurant_menu h2:hover::after {
  opacity: 1;
  transform: scale(1.1);
}

.menu_category {
  max-width: 100%;
  overflow: hidden;
}

.menu_category h3 {
  text-transform: uppercase;
  font-weight: 200;
  position: relative;
  margin-left: 20px;
  margin-top: 35px;
}

.menu_category h3::after {
  content: "";
  position: absolute;
  background-color: #99E2D0;
  width: 45px;
  height: 3px;
  top: 26px;
  left: 0;
}

.menu--item {
  margin: 16px;
  padding: 16px 0px 16px 16px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  overflow: hidden;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  animation: appear 1s;
  animation-fill-mode: both;
}

.menu--item:nth-child(2) {
  animation-delay: 200ms;
}

.menu--item:nth-child(3) {
  animation-delay: 300ms;
}

.menu--item:nth-child(4) {
  animation-delay: 400ms;
}

.menu--item:nth-child(5) {
  animation-delay: 500ms;
}

.menu--item .menu--item__price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding-left: 8px;
}

.menu--item .menu--item__description {
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}

.menu--item .menu--item__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu--item .menu--item__check {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  margin: -16px 0px -16px 16px;
  color: white;
  display: grid;
  place-items: center;
  font-size: 25px;
  transition: 300ms ease-in-out;
  flex-shrink: 0;
  width: 64px;
  margin-right: -64px;
}

.menu--item:hover .menu--item__check {
  margin-right: 0;
}

.menu--item:hover .menu--item__check i {
  transform: rotate(1turn);
  transition-duration: 500ms;
  transition-delay: 150ms;
}

.position_btn {
  display: flex;
  justify-content: center;
  padding: 48px 0;
}

.position_btn .btn {
  cursor: pointer;
  border-radius: 30px;
  padding: 18px 30px;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  background-color: black;
  border: none;
  box-shadow: 2px 1px 8px -3px black;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  transition-duration: 0.25s;
}

.position_btn .btn:hover {
  background-color: white;
  box-shadow: 2px 1px 12px -3px black;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes rot1 {
  100% {
    transform: skew(-10deg) translateX(50px) rotate(405deg);
  }
}

@keyframes rot2 {
  100% {
    transform: skew(-10deg) rotate(525deg);
  }
}

@keyframes rot3 {
  100% {
    transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
  }
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 2s forwards;
  transform-origin: top;
}

.loader .loader_logo {
  position: fixed;
  left: calc(50% - 125px);
  top: calc(50vh - 75px);
}

.loader .loader_logo div {
  width: 200px;
  height: 200px;
  position: absolute;
  border-top: 20px solid;
  border-radius: 50%;
}

.loader .loader_logo .first {
  transform: skew(-10deg) translateX(50px) rotate(45deg);
  animation: rot1 1.5s ease infinite;
  border-color: #9356DC;
}

.loader .loader_logo .second {
  transform: skew(-10deg) rotate(165deg);
  animation: rot2 1.5s ease infinite;
  border-color: #FF79DA;
}

.loader .loader_logo .third {
  transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(285deg);
  animation: rot3 1.5s ease infinite;
  border-color: #99E2D0;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(1);
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .tutorial_list {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .restaurant_blocs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media (min-width: 1000px) {
  .screen_optimisation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 8px;
  }
}
/*# sourceMappingURL=style.css.map */