@import "libs/base.scss";
@import "libs/mixins.scss";

body{
    font-family: $roboto_police;
    margin: 0;

}
// Header

h1{ 
    font-family: $shrikhand_police;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 15px;
    font-size: 35px;
    a{
        text-decoration: none;
        color: black;
    }
}

// Recherche

.box{
    display: flex;
    justify-content: center;
    background-color: $grey;
    box-shadow: 0 -4px 2px -1px #D2D1D2;
    .icon_search{
        height: 50px;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search_text{
        height: 50px;
        width: 200px;
        font-size: 18px;
        padding-left: 25px;
        border: none;
        background-color: $grey;
    }

}

//Reserver

#Reserver{
    text-align: center;
    background-color: $light_grey;
    padding-left: 125px;
    padding-right: 125px;
    .detail_introduction{
        color: grey;
        font-size: 18px;
    }
    .explorer_btn{
        border-radius: 30px;
        padding: 18px; 
        background: linear-gradient($secondary, $primary);
        color: white;
        border: none;
        margin-top: 10px;
        margin-bottom: 30px;
        box-shadow: 2px 1px 8px -3px black;
        font-size: 16px;
        font-family: $roboto_police;
        &:hover{
            transform: scale(1.1);
        }
    }
}

h2{
    margin-top: 0;
    padding-top: 50px;
    font-size: 30px;
    
}
// Fonctionnement

#Fonctionnement{
    padding-left: 20px;
    padding-right: 20px;
}

ol{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: auto;
    gap: 30px;
    counter-reset: steps;
        @media (min-width : 992px){
            flex-direction: row;
            justify-content: center;
            
        }
    }

.Font__list {
    background-color: $light_grey;
    padding: 25px 32px;
    border-radius: 20px;
    box-shadow: 2px 1px 8px -3px black;
    position: relative;
    .fa-solid{
        color: gray;
        margin-right: 20px;    
    }
        &:hover {
            transform: scale(1.04);
            background-color: $primary_light;
                .fa-solid{
                    color: $primary;
                } 
        } 
        &::before{
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $primary;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute; 
            width: 2 * $bullet_height; 
            height: 2 * $bullet_height;
            left:  - $bullet_height;
            bottom: 23px;    
        } 
}

//Restaurant

#Menus{
    background-color: $light_grey;
    padding-left: 20px;
    padding-right: 20px;

}
.Blocs_menus{
    padding-bottom: 75px;

    @media (min-width : 768px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
    }
        .cube_restaurants{
            width: auto;
            height: auto;
            background-color: white;
            border-radius: 20px;
            box-shadow: 5px 5px 5px 1px #f2f2f2;
            margin-top: 30px;
            position: relative;
            &:hover{
                cursor: pointer;
                transform: scale(1.04);
            }
        }
// Création de la bannière "Nouveau" dans les images
        .new_menus{
            position: relative;
            &::before{
                content: "Nouveau";
                position: absolute;
                height: 30px;
                width: 80px;
                background-color: $tertiary;
                color: darken($tertiary, 40%);
                display: grid;
                place-items: center;
                top: 20px;
                right: 20px;
                    }    
                }
        .img_menus{
            object-fit: cover;
            width: 100%;
            height: 350px;
            border-radius: 15px 15px 0 0;
        }
}

.detail_menus{
    padding-left: 20px;
    h3{
        margin: 0;
        padding-top: 20px;
    }
    p{
        margin: 0;
        padding-bottom: 20px;
    }
    //Création animation coeur
    &::before{
        @include heart;
    }
    &::after{
        @include heart ($opacity : 0, $font-weight : 900, $color : transparent);
    }
    &:hover::after{
        opacity: 1;
        transform: scale(1.1);
    }

}

//Footer

.footer{
    color: white;
    background-color: #363535;
    padding-left: 40px;
    padding-bottom: 30px;
    h3{
        margin-top:0;
        padding-top: 20px;
        font-family: $shrikhand_police;
    }
    .footer_lien{
        margin-top: 10px;
        i{
            width: 10px;
            height: 10px;
            padding-right: 20px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}